Django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
psycopg2-binary
gunicorn
python-decouple
requests
django-sendgrid-v5==1.3.0 
dj-database-url==0.5.0
whitenoise
drf-spectacular